:root{
    --color-primary: #059669;
    --color-secondary: #f9f9f9;
    --color-tertiary: #d1d1d1;
    --color-quaternary: #272727;
    --color-quinary: #ffffff;
    --color-error: #ff0000;
}

/* Estilos específicos para el formulario de registro */

#kc-register-form {
    background: var(--color-secondary);
    border-radius: 0.375rem;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: var(--color-quaternary);
}

#kc-register-form .navbar-brand {
    text-align: center;
    margin-bottom: 2rem;
}

#kc-register-form .navbar-brand h2 {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
}

#kc-register-form .logo h2 {
    color: var(--color-quinary);
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
}

#kc-register-form .login100-form-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--color-quaternary);
    text-align: center;
}

#kc-register-form .kcFormGroupClass {
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

#kc-register-form .kcFormGroupClass input{
    box-sizing: border-box;
}

#kc-register-form .label-input100 {
    font-weight: 600;
    color: var(--color-quaternary);
    display: block;
    margin-bottom: 0.5rem;
}

#kc-register-form .kcInputClass {
    width: 100%;
    height: 2.5rem;
    font-size: 14px;
    border: 1px solid var(--color-tertiary);
    border-radius: 0.375rem;
    padding: 0 0.75rem;
    margin-top: 0.5rem;
    color: var(--color-quaternary);
    background-color: var(--color-quinary);
}

#kc-register-form .kcInputClass:focus {
    outline: none;
    border-color: var(--color-primary);
}

#kc-register-form .focus-input100 {
    font-family: "FontAwesome";
    color: var(--color-tertiary);
}

#kc-register-form .kcFormOptionsClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

#kc-register-form .return-link {
    text-align: left;
    margin-bottom: 1rem;
}

#kc-register-form .return-link a {
    color: var(--color-primary);
    text-decoration: none;
}

#kc-register-form .return-link a:hover {
    text-decoration: underline;
}

#kc-register-form #kc-register-button {
    margin-top: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-quinary);
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

#kc-register-form #kc-register-button:hover {
    opacity: 0.9;
}


@media (max-width: 768px) {
    #kc-register-form {
        padding: 1rem;
    }
}